/** 白屏阶段会执行的 CSS 加载动画 */

#app-loading {
  position: relative;
  top: 40vh;
  margin: 0 auto;
  color: #409eff;
  font-size: 12px;
}

#app-loading,
#app-loading:before,
#app-loading:after {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  animation: 2s ease-in-out infinite app-loading-animation;
}

#app-loading:before,
#app-loading:after {
  content: "";
  position: absolute;
}

#app-loading:before {
  left: -4em;
  animation-delay: -0.2s;
}

#app-loading:after {
  left: 4em;
  animation-delay: 0.2s;
}

@keyframes app-loading-animation {
  0%,
  80%,
  100% {
    box-shadow: 0 2em 0 -2em;
  }
  40% {
    box-shadow: 0 2em 0 0;
  }
}

.bar-spin {
  position: relative;
  top: calc(50vh - 25px);
  margin: 0 auto;
  -webkit-animation: spin 3s infinite linear;
  animation: spin 3s infinite linear;
  height: 50px;
  position: relative;
  width: 50px;
}
.bar-spin:before {
  content: "";
  display: block;
  height: 50px;
  width: 10px;
  -webkit-animation: spin 0.5s infinite;
  animation: spin 0.5s infinite;
  background: #409eff;
  position: absolute;
  left: 50%;
  margin-left: -5px;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
